body{
   /* Set line spacing */
   line-height: 1.5;
   
}


header, nav{
    /* Set padding and margin */
    padding: 10px 20px 5px 10px;
    margin: auto;

}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    list-style-type: none;
    display: block;
    margin: auto;
    padding: 5px 2px 5px 2px;
    background-color: azure;
    font-size: 20px;

}

nav a{
    /* Set text decoration*/
    text-decoration: none;
}

a:visited{
    /* Set color */
    color: black;
}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration: wavy;
    text-transform: uppercase;
    text-underline-position: under;
}


h1{
   /*Set font and font size*/


}

h2{
    /*Set font, font size, and alignment*/
}

h3{
    /*Set font size*/

}

h1, h2, h3{
    /*Set margin */

}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: stretch;
    gap: 40px;
}

.grid div{
    /* Set border properties, padding, and background color */
    border: solid black ;
    border-radius: 10px;
}

.grid img{
    /* Set width, margin, and display */
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
}
    

p + p {
     /* Set indentation */
  }
  
p{
     /* Set margin */
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
}
